<nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-dark"><i class="fas fa-align-left"></i></button>
            <a href="#">HomeShop</a>
          </div>
          <ul class="nav justify-content-end">
            <li>
              <i class="fa" style="color:white;">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'> 5 </span>
            </li>
        </ul>
        </div>
        
</nav>
      <nav class="navbar navbar-light bg-light">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search this blog">
              <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>
      </nav>
