<nav id="sidebar">
    <div class="sidebar-header">
      {% if user.is_authenticated %}
        <h3>Hey, {{user.username}}</h3>
      {% else %}
        <a href="{% url 'login'%}"><h3>Login</h3></a>
      {% endif %}
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="{% url 'home' %}">home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                  {% for category in categories %}
                    <li>
                      <form action="{% url 'home' %}" method="get">
                        <input type="submit" name="category" value="{{category.name}}" />
                      </form>
                    </li>
                  {% endfor %}
                </ul>
            </li>
           
            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Checkout</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
